<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        bootstrap="vendor/autoload.php"
        colors="true"
        verbose="true"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>./tests/Feature</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <html outputDirectory="test-reports/coverage"/>
            <text outputFile="test-reports/coverage.txt"/>
            <clover outputFile="test-reports/clover.xml"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="test-reports/junit.xml"/>
    </logging>

    <php>
        <env name="APP_KEY" value="base64:2fl+Ktvkfl+Fuz4Qp/A75G2RTiWVA/ZoKZvp6fiiM10="/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="DB_FOREIGN_KEYS" value="true" />
    </php>
</phpunit>
